.game-summary-page{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    background-image: linear-gradient(to right top, #0b131c, #0e1a29, #0f2137, #122745, #162e53, #193663, #1e3d73, #234583, #25509a, #275bb1, #2966c9, #2a72e1);
    height: 100vh;
    
}
.game-summary-header{
    padding: 15px;
    text-align: center;
    color: aliceblue;
    font-size: 30px;
    font-family: 'Raleway',sans-serif; font-weight: 800; line-height: 72px; margin: 0 0 24px; text-align: center; text-transform: uppercase;
}

.game-summary-image{
    text-align: center;
    margin: auto;
    width:80vw;
    height:60vh;
    margin-top: 10px;
}
.playAgain-button {
    margin-top: 20px;
    background-color:rgba(6,78,184,1);
    margin-left: 10px;
    color: #fff;
    border:none;
    border-radius:10px;
    min-height:50px; 
    min-width: 150px;
    font-size: 24px;
    }
    .playAgain-button:hover {
        background-color:#f6f33f;
        color:#094876;
        transition: 0.7s;
    }
    .mainMenu-button {
        margin-top: 20px;
        margin-left: 10px;
        background-color:white;
        color: rgba(6,78,184,1);
        border:none;
        border-radius:10px;
        min-height:50px; 
        min-width: 150px;
        font-size: 24px;
        }
        .mainMenu-button:hover {
            background-color:#f6f33f;
            color:#094876;
            transition: 0.7s;
        }
        .buttons-span{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-self: center;
            padding-bottom: 20px;
           
        }
        .TotalPoints{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-self: center;
            margin-bottom: 30px;
            font-size: 30px;
            color: yellow;

        }
        .progressbar{
            margin-top: 20px;
            padding: 15px;
        }
        .information-slideshow{
            margin-top: 20px;
           
        }
        .score-section{
            margin-top: 20px;
            display: flex;
            flex-direction: column;
        }
        .score-section .distance-score{
            color: aliceblue;
        }
        .score-section .distance-score  .distance-title{
            background-color: rgba(6,78,184,1);
            height: 20px;
            font-size: 20px;
            border-radius:15px ;
            padding: 5px;


        }
        .score-section .points{
            margin-top: 8px;
            height: 20px;
            font-size: 20px;
            color: yellow;
            /* padding: 10px; */
            
        }
        /* .points{
            
        } */