.background-login{

    position: fixed;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100%;
    background-color: #283C52;
    z-index: -1;

}
.background-login-two {
    background-color: #FFF5F1;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 50%;
    height: 100%;
    z-index: -1;
}

.Login {
    text-align: center;
}
.input-field{
    margin-top: 20px;
}
.switchR{
    /* max-width: 100px; */
    font-size: 20px;
    margin-top: 3em;
    width: 180px;
    margin-left: 500px;
    text-align: right;
    
}
.wel-L{
    margin-top: 20px;
}
.sign-title{
    margin-top: 2em;
}
.Login{
    font-size: 20px;
}

.login-btn{
    margin-top: 2em;
    border: solid #283C52 2px;
    border-radius: 10px;
    color: white;
    background-color: #283C52;
    padding: 10px 260px;
    font-size: 20px;
}

.login-btn:hover{
    cursor: pointer;
    border-color: #4A6F96;
    background-color: #4A6F96;
}


.input-bar {
    /* background-color: gray; */
    height: 40px;
    width: 575px;
    border-radius: 10px;
    border: solid black 1px;

}

.login-card{
    margin-top: 2em;
    /* position: relative; */
    margin: auto;
    background-color: white;
    border: black solid 2px;
    border-radius: 13px;
    width: 700px;
    height: 700px;
    z-index: 900;
}