:root {
--red-linear-gradient: linear-gradient(64.7deg,rgba(251,112,144,0.25),#c90000);
    --red-linear-gradient: linear-gradient(64.7deg,rgba(251,112,144,0.85),#c90000);
    --red-linear-gradient: linear-gradient(64.7deg,#c90000,rgba(251,112,144,0.85));
    --blue-linear-gradient: linear-gradient(64.7deg,#4e81eb,#4e81eb);
    --purple-linear-gradient: linear-gradient(64.7deg,#441dfc,#4e81eb);
    --orange-linear-gradient: linear-gradient(64.7deg,#8e3232,#c96d00);
    --teal-linear-gradient: linear-gradient(64.7deg,#1000c9,#00c98e);
    --aqua-linear-gradient: linear-gradient(64.7deg,#03c5d1,#03c5d1);
    --gold-linear-gradient: linear-gradient(64.7deg,#ffab09,#ffab09);
    --muted: #969696;
    --font-dark: #212121;
    --font-light: #5b5b5b;
    --border-color: #e4e4e4;
    --color-secondary: var(--bright-green);
}


.nav-links{
   display: flex;
   flex-direction: row;
    text-decoration: none;
   
   
   
}
.nav-links li {
    display: list-item;
     text-decoration: none;
   
    color: white;
    
    text-align: -webkit-match-parent;
    
}
.ul-links{
   display: flex;
    text-decoration: none;
    flex-direction: row;
    color: white;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
    margin-left: auto;
    flex: 1 1;
    max-width: 650px;
    grid-gap: 50px;
    gap: 50px;

}
.signupBtn,.logoutBtn {
    background: transparent;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    font-weight: 700;
    cursor: pointer;
    transition: all .1s ease;
    padding: 12px 18px;
    border-radius: 4px;
    background: #00c98e;
    color: #fff;
}
.link-component{
    text-decoration: none;
    color: white;
}
