/* ---------------------------------- Picture portion of slide ------------------------------------ */
.wikiLink{
    background-color: #3084d3;
    width: 65vw;
    margin: auto;
    color:aliceblue;
    padding:10px;
}
.wikiLink a{
    text-decoration: none;
}
.slide-pic{
    width: 22vw;
    height: 48.5vh;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    /* display: table-cell; */
}
/* ---------------------------------- Entire div elements ------------------------------------ */
.moving-slide{
    display: flex;
    margin: auto;
    justify-content: center;
}
.slideshow{
    position: relative;
    display: flex;
    margin: auto;
    width: 65vw;
    height: 50vh;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 1.5em;
    transition: .5s ease;
    /* border-radius: 12px; */
}
.slideshow:hover{
    box-shadow:
    1px 1px rgba(6,78,184,1),
    2px 2px rgba(6,78,184,1),
    3px 3px rgba(6,78,184,1),
    4px 4px rgba(6,78,184,1),
    5px 5px rgba(6,78,184,1),
    10px 10px #3084d3;
    border-radius: 12px;
    -webkit-transform: translateX(-8px);
    transform: translateX(-38x);
    transition: .5s ease;
}
.slide{
    opacity: 0;
    transition-duration: 1s ease;
    
}
.slide.active{
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}

/* ---------------------------------- Slide arrows ------------------------------------ */

/* .arrowbg{
    background-color: white;
    position: relative;
    height: 50px;
    width: 50px;
} */
.left-arrow, .right-arrow{
    position: absolute;
    top: 50%;
    size: large;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    border-radius: 8px;
    background-color: white;
}
.left-arrow:hover, .right-arrow:hover{
    background-color: lightgray;
    
}
.left-arrow{
    left: 0%;
}
.right-arrow{
    right: 0%;
}
/* ---------------------------------- Text portion of div ------------------------------------ */


.slide-paragraph{
    /* display: table-cell; */
    width: 40vw;
    height: 48.5vh;
    background-color: #3084d3;
    justify-content: center;
    text-align: center;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    color:aliceblue;
}

.paragraph-text{
    color:aliceblue;
    padding: 15px;
}

.guessed-is{
    color:aliceblue;
    font-size: 30px;
    font-family: 'Raleway',sans-serif; font-weight: 800; line-height: 72px; margin: 0 0 24px; text-align: center; text-transform: uppercase;
}

.link-here{
    color:#f6f33f;
    text-decoration: none;
    background:
      linear-gradient(
        to right,
        #f6f33f,
        #f6f33f
      ),
      linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgba(255, 0, 180, 1),
        rgba(0, 100, 200, 1)
    );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
  }
  
  .link-here:hover {
    background-size: 0 3px, 100% 3px;
  }