/* ---------------------------------- Picture portion of slide ------------------------------------ */
.wikiLink{
    background-color: #FBE9DA;
    width: 65vw;
    margin: auto;
}
.wikiLink a{
    text-decoration: none;
}
.slide-pic{
    width: 22vw;
    height: 48.5vh;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    /* display: table-cell; */
}
/* ---------------------------------- Entire div elements ------------------------------------ */
.moving-slide{
    display: flex;
    margin: auto;
    justify-content: center;
}
.slideshow{
    position: relative;
    display: flex;
    margin: auto;
    width: 65vw;
    height: 50vh;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 1.5em;
    transition: .5s ease;
    /* border-radius: 12px; */
}
.slideshow:hover{
    box-shadow:
    1px 1px #f9dec8,
    2px 2px #f9dec8,
    3px 3px #f9dec8,
    4px 4px #f9dec8,
    5px 5px #f9dec8,
    10px 10px #f1b27e;
    border-radius: 12px;
    -webkit-transform: translateX(-8px);
    transform: translateX(-38x);
    transition: .5s ease;
}
.slide{
    opacity: 0;
    transition-duration: 1s ease;
    
}
.slide.active{
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}

/* ---------------------------------- Slide arrows ------------------------------------ */

/* .arrowbg{
    background-color: white;
    position: relative;
    height: 50px;
    width: 50px;
} */
.left-arrow, .right-arrow{
    position: absolute;
    top: 50%;
    size: large;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    border-radius: 8px;
    background-color: white;
}
.left-arrow:hover, .right-arrow:hover{
    background-color: lightgray;
    
}
.left-arrow{
    left: 0%;
}
.right-arrow{
    right: 0%;
}
/* ---------------------------------- Text portion of div ------------------------------------ */


.slide-paragraph{
    /* display: table-cell; */
    width: 40vw;
    height: 48.5vh;
    background-color: #FBE9DA;
    justify-content: center;
    text-align: center;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

/* .paragraph-text{
    /* margin: 0; */
  /* position: absolute;
  -ms-transform: translateY(50%);
  transform: translateY(50%);
  top: 50%; */
/* }  */
