.favorite-screen{
    display: flex;
    align-items: center;
    justify-content: center;
   
   
    flex-direction: row;
    font-size: 30px;
    color: white;
}
.favorite-container{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
   
   
    flex-direction: column;
    font-size: 30px;
}
.favorite-screen {
    display: grid;
grid-template-columns: 3fr 3fr 3fr  ;

    padding: 10px;
}
.grid-item{
   
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.fav-title{
    padding: 30px;
    color: #ffffff; font-family: 'Raleway',sans-serif; font-size: 62px; font-weight: 800; line-height: 72px; margin: 0 0 24px; text-align: center; text-transform: uppercase;
}