/* Basic styling for elements in the navbar */
.Navbar{
    height:90px;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right top, #0b131c, #0e1a29, #0f2137, #122745, #162e53, #193663, #1e3d73, #234583, #25509a, #275bb1, #2966c9, #2a72e1);
    position: sticky;
    top:0;
    z-index: 100;
 
}
.nav-u{
    text-decoration: none;
    color: white;
}
.Navbar_logo{
    width: 50px;
    object-fit: contain;
    margin: 2px 5px;
    margin-top: 18px;
    margin-left: 40px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
   

}

.profile_logo{
    width: 50px;
    object-fit: contain;
    margin: 2px 5px;
    margin-top: 18px;
    margin-left: 40px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin-right: 30px;
    align-items: center;
    text-align: center;
    cursor: pointer;
   

}
.close{
    display: none;
}
.Logo_Name{
    font-size: 18px;
    font-weight: 800;
    color: white;
    margin:  1px;
   
    

}

.profile_name{
    font-size: 18px;
    font-weight: 800;
    color: white;
    margin:  1px;
   
    

}

.Navbar_search{
display: flex;
margin-left: 290px;
flex:1;
align-items: center;
border-radius: 24px;


}
.Navbar_searchIcon{
    padding: 5px;
    height: 22px !important;
    background-color:gray
}
.Navbar_search_input{
   
    height: 12px;
    padding: 10px;
    border: none;
    width: 70%;
    
}
.Navbar_optionLineOne{
    font-size: 10px;
}


.nav-user{
    font-size: 10px;
    color: white;
}
/* Hover effect for navbar */
.Navbar_optionLineTwo, .nav-user{
    font-size: 13px;
    cursor: pointer;
    font-weight: 800;
    --b: 0.1em;   /* the thickness of the line */
  --c: #1095c1; /* the color */
  
  color: #ffffff;
  padding-block: var(--b);
  background: 
    linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
}
.Navbar_optionLineTwo:hover, .nav-user:hover{
    --_p: 100%;
  --_s: .3s;
}
.Navbar_nav{
    display: flex;
    justify-content: space-evenly;
    margin-right: 10px;
}
.Navbar_option{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    /* float: right; */
    
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #75BDD1;
    /* overflow-x: hidden; */
    min-width: 9vw;
    margin-right: 1vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition-delay: 2s; 
    z-index: 1;
    border-radius: 5px;
  }
  .dropdown-item {
    border: #162e53 solid 1px;
    
  }
  .dropdown-content li:hover {
    background-color: #B3DAE6;
    border-radius: 5px;
  }
  .dropdown-content ul {
    list-style-type: none;
  }
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition-delay: 2s; 
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* .dropdown-content:after {
    content: 'shown after 2 seconds';
    opacity:0;
    transition: 2s all;   
  }
  
  .dropdown-content:hover:after {
    opacity:1;
    transition-delay: 2s; 
  } */