.Navbar{
    height:90px;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right top, #0b131c, #0e1a29, #0f2137, #122745, #162e53, #193663, #1e3d73, #234583, #25509a, #275bb1, #2966c9, #2a72e1);
    position: sticky;
    top:0;
    z-index: 100;
 
}
.nav-u{
    text-decoration: none;
    color: white;
}
.Navbar_logo{
    width: 50px;
    object-fit: contain;
    margin: 2px 5px;
    margin-top: 18px;
    margin-left: 40px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
   

}
.close{
    display: none;
}
.Logo_Name{
    font-size: 18px;
    font-weight: 800;
    color: white;
    margin:  1px;
   
    

}
.Navbar_search{
display: flex;
margin-left: 290px;
flex:1;
align-items: center;
border-radius: 24px;


}
.Navbar_searchIcon{
    padding: 5px;
    height: 22px !important;
    background-color:gray
}
.Navbar_search_input{
   
    height: 12px;
    padding: 10px;
    border: none;
    width: 70%;
    
}
.Navbar_optionLineOne{
    font-size: 10px;
}
.Navbar_optionLineTwo{
    font-size: 13px;
    cursor: pointer;
    font-weight: 800;
    --b: 0.1em;   /* the thickness of the line */
  --c: #1095c1; /* the color */
  
  color: #ffffff;
  padding-block: var(--b);
  background: 
    linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
}
.Navbar_optionLineTwo:hover{
    --_p: 100%;
  --_s: .3s;
}
.Navbar_nav{
    display: flex;
    justify-content: space-evenly;
    margin-right: 60px;
}
.Navbar_option{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
}
