.pin-map{
    width: 50%;
    height: 300px;
    background-color: lightgray;
    text-align: center;
    float:right;
    border-radius: 12px;
    right: 0;
    
}
.pin-g{
    width: 1%;
    margin-top: 7em;
    left: 860px;
    position: absolute;
    z-index: 2;
}
.pin_pic{
    width: 80%;
    z-index: 1;
}