.product-image {
    height: 150px;
    margin-top: 3px;
    border-radius: 10%;
    max-width: 50px;
  }
  .products {
    display: flex;
    justify-content: center;
    align-content: center;
    border-style: outset;
    width: 250px;
  }
  .product-card {
    display: flex;
    flex-direction: column;
    padding: 2%;
    flex-grow: 1;
    flex-basis: 16%;
    background-color: white;
  }
  .product-info {
    /* display: flex;
    flex-direction: column;
    justify-content:center; */
    margin: auto;
  }
  